awscli
boto3
pandas
PyYAML
tqdm
mysql-connector-python
scipy
streamlit
matplotlib
seaborn
statsmodels
nltk
spacy
gensim
beautifulsoup4
requests
lxml
scikit-image
plotly
dash
numpy
orchest
faker
selenium
apify
fastapi
uvicorn
openai
langchain
streamlit-audiorecorder
pandas-datareader
scikit-learn
openpyxl
dateparser
yfinance
pandas-datareader

