.sidebar {
    min-width: 260px;
    background: #202123;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    color: #fff;
}

.logo {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.github {
    color: #999;
    font-size: 0.8rem;
}

.github a {
    color: #999;
}

a:hover {
    color: #fff;
}

.logo svg {
    color: #fff;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-bottom: -8px;
}

.wrapper {
    overflow:auto;
}

.header {
    float: left;
}

.headline {
    margin: 0 10px;
}

.settings {
    display: flex;
    flex-direction: column;
}

label.header {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

#model-select-label {
    color: #fff;
}

#simple-select {
    color: #fff;
}

.MuiSelect-icon {
    color: #fff;
}
