#root {
  width: 100%;
  margin: 0 auto;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-width: 260px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  color: rgb(15, 105, 175);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  background-color: rgb(185, 205, 215);
}
