#root {
  width: 100%;
  margin: 0 auto;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100vh;
}