<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT-Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" id="file-input">
        <button type="submit" class="upload">Upload File</button>
        <div class="upload-status"></div>
    </form>

    <textarea class="text-input"></textarea>
    <button class="send">
        Send message
    </button>

    <div class="code-outputs">

    </div>

    <textarea class="input"></textarea>
    <button class="send-code">
        Send code
    </button>

    <div class="kernel-outputs">

    </div>

    

    <script src="{{ url_for('static', filename='actions.js') }}"></script>
</body>
</html>
